.c3 line, .c3 path {
	stroke: $gray-chart;
	stroke-width: 0.5px;
}

.c3 text {
	font-family: $font-sans;
}

.c3-axis .tick line { 
	display: none;
}

.legend span {
    height: 20px;
    width: 20px;
    margin-right: 10%;
    display: inline-block;
    cursor: pointer;
    color: $gray-dark;
    font-size: 0.7rem;
    padding-top: 3px;
    padding-left: 20px;
}

.c3-chart-line {
	width: 5px;
}

.c3-circle {
    stroke-width: 10px;
}