/* FILE CONTENTS
________________________________

-- Customizes C3 library

_________________________________*/

.c3 line  {
	stroke: $gray-chart;
	stroke-width: 0.5px;
}

.c3 path {
	stroke: $gray-chart;
}

.c3 text {
	font-family: $font-sans;
}

.c3-axis .tick line { 
	display: none;
}

.c3-circle {
	fill: white;
	stroke-width: 2px;
}

.c3-line {
	stroke-width: 4px;
}
