#search-bar {
	background-color: $blue;
	border-bottom: 4px solid $gray-lighter;
	padding: 1%;
}

.text {

	display: inline-block;

	h1 {
		color: white;
		font-weight: $font-light;
		font-size: 18px;
	}
}

.search {
	display: inline-block;
	background-color: $gray-lighter;
	width: 40%;
	height: 100%;
	border-radius: 5px;
	padding: 1.5% 3%;
	margin: 0 2%;

	h1 {
		font-weight: $font-light;
		font-size: 12px;
		color: $gray-input;
	}
}

.search-button {
	display: inline-block;
	background-color: $blue-darker;
	padding: 1.5%;
	height: 100%;
	border-radius: 5px;
}

#dashboard-primary {
	padding: 2%;
}

.header {
	width: 100%;
	padding: 2%;
	background-color: $gray-lightest;

	h1 {
		font-size: 1rem;

		span {
			font-size: 0.8rem;
		}
	}
}

#chart-device {
	height: 400px;
}