#search-bar {
	background-color: $blue;
	border-bottom: 4px solid $gray-lighter;
	padding: 1%;
}

.text {

	display: inline-block;

	h1 {
		color: white;
		font-weight: $font-light;
		font-size: 18px;
	}
}

.search {
	display: inline-block;
	background-color: $gray-lighter;
	width: 40%;
	height: 100%;
	border-radius: 5px;
	padding: 1.5% 3%;
	margin: 0 2%;

	h1 {
		font-weight: $font-light;
		font-size: 12px;
		color: $gray-input;
	}
}

.search-button {
	display: inline-block;
	background-color: $blue-darker;
	padding: 1.5%;
	height: 100%;
	border-radius: 5px;
}

#dashboard-primary {
	padding: 2%;
}

.header {
	width: 100%;
	padding: 2%;
	background-color: $gray-lightest;

	h1 {
		font-size: 0.95rem;

		span {
			font-size: 0.8rem;
		}
	}
}

#chart-device {
	height: 400px;
	margin-bottom: 2%;
}

#chart-device-legend {
	width: 100%;
	padding-left: 120px;
}

#chart-scoring {
	height: 400px;
	margin-bottom: 2%;
}

#chart-scoring-legend {
	width: 100%;
	padding-left: 20px;
}


#dashboard-secondary {
	padding-bottom: 5%;
}

.table {
	padding-top: 2%;
}

table {
	width: 100%;
}

th {
	font-weight: $font-regular;
	padding: 2%;
	text-align: left;
	font-size: 0.7rem;
	background-color: $blue-light;

	.center {
		align: center;
	}

	.right {
		text-align: right;
	}
}

td {
	font-weight: $font-regular;
	padding: 2%;
	text-align: left;
	font-size: 0.7rem;
	border-bottom: 0.5px solid $gray-lightest;

	.center {
		text-align: center;
	}

	.right {
		text-align: right;
	}

}






